pdx-deepl.exe
ck3-tiger.conf
.cspell/custom-dictionary-workspace.txt
.vscode/settings.json
translation-config.json
NOTES/
NOTES.7z
cgi.py
translate_paradox_loc_offline.py
translations_cache_fr_offline.json
translations_cache_fr_segments.json
__pycache__/